
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}


section .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

section .contentBx
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

section .contentBx .formBx
{
    width: 50%;
}

section .contentBx .formBx h2
{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx
{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"]
{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover
{
    background: #f53677;
}

section .contentBx .formBx .inputBx p
{
    color: #607d8b;
}

section .contentBx .formBx .inputBx p a
{
    color: #ff4584;
}

section .contentBx .formBx h3
{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}


section .contentBx .formBx .sci
{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contentBx .formBx .sci li
{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

section .contentBx .formBx .sci li:hover
{
    background: #ff4584;
}

section .contentBx .formBx .sci li img
{
   transform: scale(0.5);
   filter: invert(1);
}

@media (max-width: 768px)
{
    section .imgBx
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx
    {
        width: 100%;
        padding: 40px;
        background: #fff;
        margin: 50px;
    }

    section .contentBx .formBx h3
    {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}
